.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.541) 0px 3px 8px;
}
.text-center{
    text-align: center;
}
.center{
    align-items: center !important;
    justify-content: center;
}
.f2{
    font-size: 20;
}
.f3{
    font-size: 30;
}
.f4{
    font-size: 40;
}

.pos-ab{
    position: absolute !important;
}
.pos-ab-b-0{
    bottom: -50px !important;
}

.pos-rel{
    position: relative !important;
}
.chat-system  .cating{
    background: url(../img/pexels-merlin-lightpainting-9303351.jpg);
    background-size: cover;
}
.chat-system  .cating .bubble{
    position: relative;
}

.chat-system  .cating .bubble .img{ 
    position: absolute;
    left: -43px;
}

.chat-system  .cating .bubble .img1{
    position: absolute;
    right: -43px;
} 



.cat-sent {
    background-color: rgba(36, 26, 26, 0.562) !important;
}
.cat-sent form{
    width: 500px !important;
}

.btn-sent{
    display: block;
    line-height: 50px !important;
    padding: 5px 10px;
    background-color: white;
}

.chat-system .chat-box {
    width: 100%; 


    /* height: calc(100vh - 179px); */
}
.bubble a{
    opacity: 0;
transition: 00.45s;
}
.bubble:hover a{
    opacity: 1 !important;
} 
@media (max-width: 575px){

   
    .pos-ab-b-0{
        bottom: -80px !important;
    }


    .chat-system .chat-box {
        width: 100%; 
        height: 110%;

        /* height: calc(100vh - 179px); */
    }
    .from{
        position: fixed;
        bottom: 0;
    }
    .pos-rel{
        position: none !important;
    }

}