.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.541) 0px 3px 8px;
}
.text-center{
    text-align: center;
}
.center{
    align-items: center !important;
    justify-content: center;
}
.f2{
    font-size: 20;
}
.f3{
    font-size: 30;
}
.f4{
    font-size: 40;
}
/*========== 
chatting
=============== */
.pos-ab{
    position: absolute !important;
}
.pos-ab-b-0{
    bottom: -50px !important;
}

.pos-rel{
    position: relative !important;
}
.chat-system  .cating{
    background: url(../img/pexels-merlin-lightpainting-9303351.jpg);
    background-size: cover;
}
.chat-system  .cating1{
    background: url(../img/pexels-merlin-lightpainting-9303351.jpg) !important;
    background-size: cover
}
.chat-system  .cating .bubble{
    position: relative;
    padding: 5px 10px !important;
    margin-bottom: 20px !important;
}

.chat-system  .cating .bubble .img{ 
    position: absolute;
    left: -43px;
}

.chat-system  .cating .bubble .img1{
    position: absolute;
    right: -43px;
} 

.chat-system   #contant
{
    
    background-color: rgb(105, 156, 204) !important;
    /* display: none !important; */
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px !important;
         transition: 0.3s ease-out !important;
}
.chat-system   #contant-two{
    background-color: rgb(105, 156, 204) !important;
    /* display: none !important; */
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px !important;
    transition: 0.3s ease-out !important ;
}
.hidden{
    width: 100% !important;
    height: 0px !important;
    /* display: none !important; */
    transition: 0.4s;
    opacity: 0 !important;
    transition: 0.4s ease-out !important ;
}
.show1{
    display: visible !important;
    /* background-color: rgb(105, 156, 204) !important; */
    display: flex;
    width: 100% !important;
   padding-left: 10px;
   padding-bottom: 2px;
   padding-top: 8px;
   opacity: 1 !important;

}
.hidden-two{
    width: 100% !important;
    height: 0px !important;
    /* display: none !important; */
    transition: 0.4s;
    opacity: 0 !important;
    transition: 0.4s ease-out !important ;
}
.bubble .reply-me{
    background-color: rgba(0, 0, 0, 0.26) !important;
    border: 1px solid rgba(90, 88, 86, 0.103);
    position: absolute;
    left: -40px;
    color: white;
    opacity: 0;
    transition: 0.4s;
}
.bubble:hover .reply-me{
    opacity: 1;
}

#reply,
#reply1,
#reply2,
#reply3,
#reply4,
#reply5,
#reply6,
#reply7,
#reply8,
#reply9,
#reply10,
#reply11,
#reply12,
#reply13,
#reply14,
#reply15,
#reply16,
#reply17
{
    background-color: rgba(0, 0, 0, 0.26) !important;
    border: 1px solid rgba(90, 88, 86, 0.103);
    position: absolute;
    /* right: -35%; */
    right: -40px;
    color: white;
}
#close,
#close1
{
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(90, 88, 86, 0.103);
  
    color: rgb(167, 23, 23);
}

.show-two{
    display: visible !important;
    /* background-color: rgb(105, 156, 204) !important; */
    display: flex;
    width: 100% !important;
   padding-left: 10px;
   padding-bottom: 2px;
   padding-top: 8px;

}

.cat-sent {
    background-color: rgba(36, 26, 26, 0.562) !important;
}
.cat-sent form{
    width: 500px !important;
}

.btn-sent{
    display: block;
    line-height: 50px !important;
    padding: 5px 10px;
    background-color: white;
}

.chat-system .chat-box {
    width: 100%; 


    /* height: calc(100vh - 179px); */
}
#reply,
#reply1,
#reply2,
#reply3,
#reply4,
#reply5,
#reply6,
#reply7,
#reply8,
#reply9,
#reply10,
#reply11,
#reply12,
#reply13,
#reply14,
#reply15,
#reply16,
#reply17
{
    opacity: 0;
transition: 00.45s;
}
.bubble:hover #reply,
.bubble:hover #reply1,
.bubble:hover #reply2,
.bubble:hover #reply3,
.bubble:hover #reply4,
.bubble:hover #reply5,
.bubble:hover #reply6,
.bubble:hover #reply7,
.bubble:hover #reply8,
.bubble:hover #reply9,
.bubble:hover #reply10,
.bubble:hover #reply11,
.bubble:hover #reply12,
.bubble:hover #reply13,
.bubble:hover #reply14,
.bubble:hover #reply15,
.bubble:hover #reply16,
.bubble:hover #reply17
{
    opacity: 1 !important;
} 
/*========== 
chatting
=============== */

.proses{
    background-color: rgb(24, 184, 196);
    color: whitesmoke;
    width: 140px;
   border-radius: 50px;
   text-align: center;
   padding: 2px;
}
.end{
    background-color: rgb(214, 116, 23) !important;
}

/*========== chatting end============== */
@media (max-width: 575px){

   
    .pos-ab-b-0{
        bottom: -80px !important;
    }


    .chat-system .chat-box {
        width: 100%; 
        height: 110%;

        /* height: calc(100vh - 179px); */
    }
    .from{
        position: fixed;
        bottom: 0;
    }
    .pos-rel{
        position: none !important;
    }

    .chat-system  .cating1{
        background: url(../img/pexels-merlin-lightpainting-9303351.jpg) !important;
        background-size: cover;
        margin-top: 320px !important;

    }

}