.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.541) 0px 3px 8px;
}
.text-center{
    text-align: center;
}
.center{
    align-items: center !important;
    justify-content: center;
}
.f2{
    font-size: 20;
}
.f3{
    font-size: 30;
}
.f4{
    font-size: 40;
}

.pos-ab{
    position: absolute !important;
}
.pos-ab-b-0{
    bottom: 0 !important;
}

.pos-rel{
    position: relative !important;
}

.cat-sent {
    background-color: rgba(36, 26, 26, 0.562) !important;
}
.cat-sent form{
    width: 500px !important;
}

.btn-sent{
    display: block;
    line-height: 50px !important;
    padding: 5px 10px;
    background-color: white;
}



@media (max-width: 1555px){

    .chat-system .chat-box .chat-selected .cating{
        height: 600px;
    }


}